<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <div class="jumbotron text-center">
      <div class="container-fluid">
        <div class="row">
          <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
          </a>
          <h1>Meškania MHD</h1>
          <p>Nahlás svoje meškanie</p>
          <a type="button" class="btn btn-lg btn-default js-new" href="#"><span class="glyphicon glyphicon-flash"></span> Nahlás meškanie</a>
        </div>
        <form class="form-horizontal" id="form-post-delay" style="display:none">
          <div class="form-group row">
            <div class="col-md-offset-3 col-md-1"><label for="form-lat">Lat: </label></div>
            <div class="col-md-2"><input type="number" class="form-control" step=0.00001 id="form-lat" name="lat" placeholder="Latitude"></div>
            <div class="col-md-1"><label for="form-lon">Lon: </label></div>
            <div class="col-md-2"><input type="number" class="form-control" step="any" id="form-lon" name="lon" placeholder="Longitude"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-offset-3 col-md-1"><label for="form-place">Zastávka: </label></div>
            <div class="col-md-5"><input type="text" class="form-control" id="form-place" name="place" placeholder="Zastávka"></div>
          </div>
          <div class="row form-group">
            <div id="map" class="col-md-offset-4 col-md-5 img-responsive" style="min-height:330px"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-offset-3 col-md-1"><label for="form-line">Spoj: </label></div>
            <div class="col-md-5"><input type="number" class="form-control" id="form-line" name="line" placeholder="Spoj"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-offset-3 col-md-1"><label for="form-delay">Mešká minút: </label></div>
            <div class="col-md-2"><input type="number" class="form-control" step=0.1 id="form-delay" name="delay" placeholder="Meškal X minút"></div>
            <div class="col-md-1"><label for="form-when">Kedy: </label></div>
            <div class="col-md-2"><input type="time" class="form-control" id="form-when" name="when" placeholder="Keď bolo"></div>
          </div>
          <div class="form-group row">
            <button type="submit" class="btn btn-lg btn-default js-save" style="display:none" href="#"><span class="glyphicon glyphicon-save"> Ulož</button>
            </div>
          </form>
        </div> <!--.container-->
      </div> <!--.jumbotron-->

      <div class="container">
        <!--<div class="alert alert-info text-center" role="alert">
          To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
        </div>
        <hr>-->
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h3><span class="glyphicon glyphicon-info-sign"></span> Ako funguje táto stránka?</h3>
            <ul>
              <li>Nahlás kde mešká spoj!</li>
              <li>Z meškaní sa počítajú štatistiky</li>
              <li>Nabudúce budeš vedieť, že v štvrtok musíš íst na skoršiu 4, lebo vždy príde neskoro na Trnavské</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <h3><span class="glyphicon glyphicon-link"></span> Nápomocné stránky</h3>
            <ul>
              <li><a href="https://imhd.sk/ba">iMHD</a></li>
            </ul>
          </div>
        </div> <!-- row -->
          <h3>Aktuálne meškania</h3>
          <table class="table">
            <tr>
              <th>Spoj</th>
              <th>Kde</th>
              <th>Koľko</th>
            </tr>
          <tbody class="js-late-list ">
          </tbody>
        </table>
<!--
        <div class="alert alert-info text-center" role="alert">
          Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
        </div>-->

      </div>
    </body>
  </html>
